<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>ঠিক বানানটা কি হবে?</h2>
    <p>নিচে লিখুন</p>
    <form onsubmit="window.location = document.URL + 'search/' + word_input.value; return false;">
      <input type="text" id="word_input"><br><br>
      <input type="submit" id="submit_word" value="ঠিক কি?">
    </form>
  </body>
</html>
