<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form onsubmit="window.location = document.URL + 'search/' + word.value; return false;">
      <input type="text" id="word"><br><br>
      <input type="button" id="submit" value="ঠিক কি?">
    </form>

    <script>
      
    </script>
  </body>
</html>
