<!DOCTYPE html>
<html>
  <head>
    <title>My response</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <p><%- reply %></p>
    <a href="../../">আবার খুঁজুন</a>
  
  </body>
</html>

