<!DOCTYPE html>
<html>
  <head>
    <title>My response</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>
      <%- reply.suggestions %>
    </h1>

  </body>
</html>

