body {
  padding: 50px;
  font-size: 1.5em; 
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.word_list {
  color: slateblue;
  list-style: none;
}

.intro {
  color: lightsteelblue;
}

#word_input {
  font-size: 2em;
}

#submit_word {
  font-size: 1.2em;
}

.correct {
  color: green;
}

.wrong {
  color: red;
}